.background-page
  position absolute
  width 100%
  height 100vh
  z-index -99
  &__bg-img
    height 100%
    width 100%
    top 0
    left 0
    // top 0
  // &__person
  //   position absolute
  &__title
    // position absolute
    color #fff