@import '/global-var.styl'

.base-story
  margin-top 200vh
  background-color #fff
  box-shadow 0 -2px 4px 0 rgba(0, 0, 0, 0.5)
  padding 25px 25px 50px
  font-size 1.4rem
  line-height 1.8
  max-width 960px
  @media (min-width $tab-breakpoint)
    margin-top 0
    box-shadow -4px 0 4px 0 rgba(0, 0, 0, 0.5)
    width 75%
    margin-left auto
    font-size 2.0rem
    padding 40px 35px
  @media (min-width $lap-breakpoint)
    width 58.33%
    margin-left 29.17%
    padding-left 55px
    padding-right 55px
  & h3
    font-size 2.4rem
    line-height 1.3
    font-weight 300
    @media (min-width $tab-breakpoint)
      font-size 3.0rem
      line-height 1.4