@import url('//fonts.googleapis.com/earlyaccess/notosanstc.css')

#newtype
  h1
    font-size 4rem
  .newtype-landing__title
    h1
      font-size 5rem
  h2
    font-size 2.4rem
  #story3, #story5
    h2
      color #fddcb6
  p
    font-size 1.44rem
    font-weight 400
  #story1, #story2
    p
      color #333333
  #story3, #story5
    p
      color #f8f8f8
  figcaption, blockquote
    font-size 1rem
    color #606060
  .charts
    .figcaption
      font-size 1rem
      color #f8f8f8

@media (max-width: 1440px)
  #newtype
    h1
      font-size 3.2rem
    .newtype-landing__title
      h1
        font-size 4rem
    h2
      font-size 1.92rem
    p
      font-size 1.152rem
    figcaption, blockquote
      font-size 1rem

@media (max-width: 1280px)
  #newtype
    h1
      font-size 3.04rem
    .newtype-landing__title
      h1
        font-size 3.2rem
    h2
      font-size 1.536rem
    p
      font-size .9216rem
    figcaption, blockquote
      font-size .9216rem
    .charts
      .figcaption
        font-size .9216rem

@media (max-width: 767px)
  #newtype
    h1
      font-size 3.2rem
    h2
      font-size 1.92rem
    p
      font-size 1.152rem
    figcaption, blockquote
      font-size 1rem
    .charts
      .figcaption
        font-size 1rem

@media (max-width: 413px)
  #newtype
    h1
      font-size 3.04rem
    h2
      font-size 1.536rem

@media (max-width: 374px)
  #newtype
    h1
      font-size 2.432rem
    .newtype-landing__title
      h1
        font-size 2.56rem
    p
      font-size .9216rem
    figcaption, blockquote
      font-size .9216rem
    .charts
      .figcaption
        font-size .9216rem