.sectionContainer {position:relative; 
/* padding-top:40px; */
overflow:hidden;
}
/* .sectionContainer:before {content:""; display:block; width:0; height:0;
position:absolute; left:0; top:0;
border-style:solid; border-width:60px 100vw 0 0;
border-color:#fcd5cd transparent transparent transparent;
} */

/* .sectionwpr+.sectionwpr .centerwpr:before{content:""; display:block;
width:100%; height:4px; position:relative; top:-68px;
background-image:url("/proj-assets/dollclaw/images/bg-dot.png"); background-repeat:repeat-x;
background-size:auto 100%;
} */

hr {width:100%; height:4px; position:relative; margin:50px 0;
background-image:url("/proj-assets/dollclaw/images/bg-dot.png"); background-repeat:repeat-x;
background-size:auto 100%;
border:none;
}

/* ---------- Section Title ---------- */
h1 {position:relative;}
/* h1:before {content:""; display:inline-block; position:relative; top:6px;
width:43px; height:48px; margin-right:15px;
background-image:url("/proj-assets/dollclaw/images/deco-pac1.png");
background-repeat:no-repeat; background-size:100% auto;
}

.section1 h1:before {background-image:url("/proj-assets/dollclaw/images/deco-pac1.png");}
.section2 h1:before {background-image:url("/proj-assets/dollclaw/images/deco-pac2.png");}
.section3 h1:before {background-image:url("/proj-assets/dollclaw/images/deco-pac3.png");}
.section4 h1:before {background-image:url("/proj-assets/dollclaw/images/deco-pac4.png");}
.section5 h1:before {background-image:url("/proj-assets/dollclaw/images/deco-pac5.png");} */

/* ---------- Section ---------- */
strong {padding:0 5px; font-weight:400;
background-color:#fcebce; border-bottom:2px solid #f3ddb7;
border-radius:1px;
}

.descbox {padding:25px 35px; margin-top:-20px; position:relative;
font-size:17px; color:#fff;
background-color:#784d62; border-radius:14px;
}
.descbox:before {content:""; display:block;
width:0; height:0; position:absolute; right:55px; top:-22px;
border-style:solid; border-width:0 20px 22px 20px;
border-color:transparent transparent #784d62 transparent;
}
.descbox.even:before {right:auto; left:55px;}

.descbox+p {margin-top:60px;}

.descbox p+p {margin-top:15px;}

.quotewpr {position:relative; padding:50px 0;}
.quotewpr+p {margin-top:50px;}

.quotewpr:before,
.quotewpr:after {content:""; display:block; opacity:0.85;
width:60px; height:64px; position:absolute;
background-image:url("/proj-assets/dollclaw/images/bg-quote.png");
background-repeat:no-repeat; background-size:100% auto;
}
.quotewpr:before {left:0; top:-20px;}
.quotewpr:after {right:0; bottom:-5px; background-position:right bottom;}

.quotewpr .innerwpr {position:relative;}
.quotewpr .innerwpr:before,
.quotewpr .innerwpr:after {content:""; display:block; height:4px; position:relative;
background-image:url("/proj-assets/dollclaw/images/bg-dot.png");
background-repeat:repeat-x; background-size:auto 100%;
}
.quotewpr .innerwpr:before {margin-left:90px; top:-26px;}
.quotewpr .innerwpr:after {margin-right:90px; bottom:-26px;}

.quotewpr p {position:relative; color:#746170;}

/* ---------- Section: chart ---------- */
.chartwpr {margin:60px auto;}
.chartwpr img {max-width:100%;}
.chartwpr h3 {font-size:32px;}
.chartwpr .data-source {margin-top:5px; margin-bottom:15px;
font-size:16px; text-align:center; line-height:1.5;
}

/* chart 01 */
.c01wpr {display:flex;
border:3px solid #776070; border-radius:3px;
}

#js-price-chart {
width:calc(100% - 300px); min-height:550px;    
padding:60px 0 30px 0;
background-color:#f6f3f1;  
/* border:3px solid #776070; border-right:none; border-radius:3px 0 0 3px; */
}

.c01 .descbox {width:300px; flex-shrink:0;
display:flex; align-items:center;    
margin-top:0; border-radius:0 3px 3px 0;
}
.c01 .descbox:before {display:none;}
/* .c01--img {position:relative; width:100%; height:0; padding-top:48.6%;
background-image:url("/proj-assets/dollclaw/images/chart/chart01-1.png");
background-repeat:no-repeat; background-size:100% auto;
}
.c01--img img {position:absolute; left:0; top:0; width:100%; height:auto;
opacity:0; visibility:hidden;
transition-duration:200ms; transition-property:opacity,visibility;
}
.c01--img:hover img {opacity:1; visibility:visible;} */

/* barchart common */
.barchart li {display:flex; align-items:center;}
.barchart li+li {margin-top:15px;}
.barchart .barwpr {flex:1; position:relative; height:28px;
display:flex;
}
.barchart .bar {height:100%;
background-color:#ffd58b; border-radius:4px;
}
.barchart span {flex-shrink:0;}
.barchart .title {margin-right:15px;}
.barchart .number {margin-left:10px; font-size:16px;}

/* chart 03 */
.c03 li:nth-child(1) .bar {background-color:#ffa78b;}
.c03 li:nth-child(2) .bar {background-color:#ffaa8b;}
.c03 li:nth-child(3) .bar {background-color:#ffad8b;}
.c03 li:nth-child(4) .bar {background-color:#ffaf8b;}
.c03 li:nth-child(5) .bar {background-color:#ffb48b;}
.c03 li:nth-child(6) .bar {background-color:#ffb88b;}
.c03 li:nth-child(7) .bar {background-color:#ffbc8b;}
.c03 li:nth-child(8) .bar {background-color:#ffbf8b;}
.c03 li:nth-child(9) .bar {background-color:#ffc38b;}
.c03 li:nth-child(10) .bar {background-color:#ffc88b;}
.c03 li:nth-child(11) .bar {background-color:#ffcc8b;}
.c03 li:nth-child(12) .bar {background-color:#ffcf8b;}
.c03 li:nth-child(13) .bar {background-color:#ffd18b;}
.c03 li:nth-child(14) .bar {background-color:#ffd38b;}

/* chart 05 */
.c05 .title {width:110px; text-align:right;}
.c05 li:nth-child(1) .bar {background-color:#ffaa8b;}
.c05 li:nth-child(2) .bar {background-color:#ffaf8b;}
.c05 li:nth-child(3) .bar {background-color:#ffbf8b;}
.c05 li:nth-child(4) .bar {background-color:#ffcf8b;}

/* chart 04 */
/* .c04+.c04 {margin-top:15px;} */
.c04 li {display:flex; justify-content:space-between;  
background-image:url("/proj-assets/dollclaw/images/bg-dot.png");
background-repeat:repeat-x; background-position:left calc(50% + 2px);
background-size:auto 4px;
}
.c04 li+li {margin-top:15px;}
.c04 li span {background-color:#f8f5f3; flex-shrink:0;}
.c04 li .type {padding-right:15px;}
.c04 li .number {padding-left:15px;}

/* table common */
.table {border:3px solid #666; border-radius:2px;}
/* .table table {table-layout:fixed;} */
.table th,
.table td {padding:10px 12px;
font-weight:400; font-size:17px; line-height:1.2;
}

.table tr {border-bottom:1px solid #999695;}
.table tr:last-child {border-bottom:none;}

.table td,.table th {border-right:1px solid #999695;}
.table td:last-child,.table th:last-child {border-right:none;}

.table th {
background-color:#e9e3e0;  
border-bottom:3px solid #666;
}

/* chart 07 */
.part2 .chartwpr {margin:0;}
.c07 {position:relative;
font-size:15px; line-height:1;
overflow-x:auto;
/* border:3px solid #666; border-radius:2px; */
}
.c07 .row {position:relative; padding:6px 20px;
display:inline-flex;
}
.c07 .r0 {background-color:#fff;}
.c07 .r1 {background-color:#e7efda;}
.c07 .r2 {background-color:#d9e7f2;}
.c07 .r3 {background-color:#ffe6cc;}
.c07 .r4 {background-color:#fcdbd6;}

.c07 .cell {flex-grow:1; flex-shrink:0; width:40px;
padding:5px;
/* border:1px solid #aaa; */
}

.c07 .t1 {width:80px; padding:10px;
display:flex; align-items:center;
}
.c07 .r0 .cell {display:flex; justify-content:center; align-items:center;}

.c07 .mark {padding:6px 3px;
color:#fff;
border-radius:4px;
}
.c07 .mark+.mark {margin-top:4px;}
.c07 .pass {background-color:#3ea978;}
.c07 .fail {background-color:#ff5a52;}



/* .c07 .t1 {width:80px;}
.c07 .t2 {width:22%;}
.c07 .t3 {width:22%;}
.c07 .t4 {width:22%;}
.c07 .t5 {width:22%;}

.c07 .pass,.c07 .fail {
display:flex; align-items:center;  
font-size:16px; line-height:1.2; text-align:left;
}
.c07 .pass:before,
.c07 .fail:before {content:""; display:block; flex-shrink:0;
width:16px; height:16px; margin-right:5px;
background-image:url("/proj-assets/dollclaw/images/icon-passfail.png");
background-repeat:no-repeat;
background-size:16px auto;
}
.c07 .pass:before {background-position:left bottom;}
.c07 .fail:before {background-position:left top;} */

/* ---------- Expandable Chart ---------- */
.expandableChart--trigger {cursor:pointer;
height:40px; background-color:red;
}
.expandableChart--collapse {height:0; overflow:hidden;
margin-top:15px;
transition-duration:300ms; transition-property:height;
}



/* ---------- Speaker image ---------- */
/* .speakerwpr {display:flex; justify-content:center; align-items:flex-start;
margin:60px auto;
} */
.speakerwpr {width:300px; display:flex; flex-direction:column;
flex-shrink:0;
}
.speaker {flex-shrink:0; flex:1; padding:15px;
background-color:#fdfcfb;
}
.speaker+.speaker {background-color:#e9e3e0;}
.speaker img {width:100%; max-width:175px; margin:0 auto;}
.speaker h3 {padding-top:15px;
font-size:26px; font-weight:700; text-align:center; line-height:1;
}
.speaker p {margin:10px auto 0 auto;
font-size:15px; text-align:center; line-height:1.5;
}

.descbox.speakerDesc {padding:0;
color:#544356; font-size:16px;
background-color:transparent;
}
.descbox.speakerDesc:before {display:none;}

/* ---------- Credit ---------- */
.sectionwpr.credit {padding:30px 0; margin-top:30px;
background-color:#60465a;
}
.sectionwpr.credit .centerwpr:before {display:none;}
.credit li {font-size:14px; color:#fff; letter-spacing:1px;}


/* ---------- RWD ---------- */
@media screen and (max-width: 1000px) {

    .sectionContainer {padding-top:15px;}
    .sectionContainer:before {border-width:40px 100vw 0 0;}

}