/* ----- reset ----- */
body,dl,dt,dd,ul,ol,li,th,td,form,input,textarea,p {margin:0; padding:0;}
img {display:block; border:0;}
li {list-style:none}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
article,aside,canvas,figure,figure img,figcaption,footer,header,hgroup,menu,nav,section,audio,video {display:block; margin:0; padding:0;}

/* ----- common ----- */
html {overflow-y:scroll;}
body {text-align:center; font-size:18px; line-height:1.6; 
font-family:"source-han-sans-traditional","微軟正黑體", "Microsoft JhengHei", sans-serif; color:#544356;
background-color:#f8f5f3;
}
h1,h2,h3,h4,h5,h6 {margin:0; line-height:1.1;}
p {text-align:justify; text-justify:distribute;}
p+p {margin-top:30px;}
table {border-collapse:collapse; border-spacing:0; border:none;}
th {border:none;}
td {border:none;}
a {outline:none; text-decoration:none;}
input {vertical-align:middle;}

/* ----- Typekit sample ----- */
/* 
"source-han-sans-traditional" 400,700
"prenton" 400,700 / normal & italic

font-family:"source-han-sans-traditional","微軟正黑體", "Microsoft JhengHei", sans-serif;
font-family:"prenton","微軟正黑體", "Microsoft JhengHei", sans-serif;
*/

/*--- logo, share ---*/
#mainWrapper .logo {width:52px; height:52px;
background-size:100% auto; background-position:0 0;
}

/*--- section ---*/
.sectionwpr {padding:70px 0;
background-color:#fbf9f8;
}

.sectionwpr:nth-child(even) {
background-color:#f8f5f3;
background-color:#f5f1ef;
}

.centerwpr {max-width:800px; padding:0 20px; margin:0 auto;
position:relative;
}
.centerwpr.wide {max-width:100%; padding:0 30px;}
/* .sectionwpr.part2 .centerwpr {max-width:100%; padding:0;} */

h1 {margin-bottom:30px;
font-size:32px;
}

/* ---------- Aside illustration ---------- */
.deco-claw {position:fixed; width:100%; left:0; top:0; z-index:999;}
.deco-claw--pic {width:83px; height:393px;
position:absolute; right:-83px; top:-45px;
background-image:url("/proj-assets/dollclaw/images/deco-claw.png");
background-size:100% auto; background-repeat:no-repeat;
}

.deco-claw__container {
    width:85px;
    height:100vh;
    position:absolute; right:-85px;
  }
  .claw {
    /* display: flex; */
    /* flex-direction: column; */
    /* position: relative; */
    height: calc(100% - 58px);
    /* padding-bottom: 58px; */
  }
  .claw__line {
    /* flex: 1; */
    background-size: 9px 6px;
    background-image: url(/proj-assets/dollclaw/images/deco-rope.png);
    background-repeat: no-repeat repeat;
    background-position: 50% 50%;
  }
  .claw__line .fixed{
    height: 150px;
  }
  .claw__line .dynamic{
    height: calc((100vh - 323px) * 0);
  }
  .claw__main {
    position: relative;
    top: -4px;
    width: 85px;
    height: 115px;
    background-image:url("/proj-assets/dollclaw/images/deco-clawpart.png");
    background-size:69px 115px; background-repeat:no-repeat;
    background-position: 50% 50%;
  }
  .deco-claw--doll {
    position:absolute; left:10px; bottom:10px;
    width:65px;
    height:auto;

    width:85px; left:-3px;
  }
  .deco-claw--cloud {
    position:absolute; left:12px; bottom:-10px;
    width:77px;
    height:auto;
  }


/* ---------- footer: related reports ---------- */
.footerwpr .related-reports.dark .report {background-color:#544356;}
.footerwpr .related-reports.dark .report:hover {
background-color:#49394b;
}
.footerwpr .related-reports .report h1 {font-size:22px; line-height:1.3;}
.footerwpr .related-reports button {font-family:"source-han-sans-traditional","微軟正黑體", "Microsoft JhengHei", sans-serif; color:#544356;
margin-top:15px;
}


/* ---------- RWD ---------- */
@media screen and (max-width: 1000px) {

    .deco-claw {display:none;}
  
  }

