.report-content
  color #4a4a4a
  padding-left 20px
  padding-right 20px
  padding-bottom 42px
  position relative
  background-color #f5f4f5
  & h2
    font-size 2.1rem
    font-weight 300
    margin-bottom 20px
    line-height normal
  & p
    font-size 1.5rem
    line-height 1.87
    & + p
      margin-top 28px