@import './global.styl'

.fade
  &-out
    &-cover
      &-leave-active
        transition opacity 0.6s $easeOutCirc
      &-leave-to
        opacity 0
    &-nav
      &-enter-active
        transition opacity 0.3s $easeOutCirc
      &-enter
        opacity 0
      &-enter-active
        z-index 199
  &-info
    &-enter-active, &-leave-active
      transition opacity 0.45s $easeOutExpo
    &-enter, &-leave-to
      opacity 0

.pop-up-toc
  &-enter-active
    transition transform 0.6s $easeOutExpo
  &-enter
    transform translateY(100%)

.slide-report
  &-enter-active, &-leave-active
    transition transform 0.45s $easeOutExpo
  &-enter, &-leave-to
    transform translateX(100%)