@import './global.styl'

.fade
  &-out
    &-cover
      &-leave-active
        transition opacity 0.45s $easeOutCirc
      &-leave-to
        opacity 0
    &-nav
      &-enter-active
        transition opacity 0.3s $easeOutCirc
      &-leave-active
        transition opacity 0.15s $easeOutCirc
      &-enter, &-leave-to
        opacity 0
      &-enter-active
        z-index 199
  &-info
    &-enter-active, &-leave-active
      transition opacity 0.45s $easeOutExpo
    &-enter, &-leave-to
      opacity 0
  &-notation
    &-enter-active, &-leave-active
      transition transform 0.45s $easeOutExpo, opacity 0.45s $easeOutExpo
    &-enter, &-leave-to
      transform translateY(8px)
      opacity 0

.slide-report
  &-enter-active, &-leave-active
    transition transform 0.45s $easeOutExpo
  &-enter, &-leave-to
    transform translateX(100%)