/*--- reset ---*/
body,dl,dt,dd,ul,ol,li,th,td,form,input,textarea,p {margin:0; padding:0;}
img {display:block; border:0;}
li {list-style:none}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
article,aside,canvas,figure,figure img,figcaption,footer,header,hgroup,menu,nav,section,audio,video {display:block; margin:0; padding:0;}

/*--- common ---*/
body {
color:#4d4d4d; font-size:16px; line-height:1.5;    
font-family:"微軟正黑體", "Microsoft JhengHei", sans-serif;
}
h1,h2,h3,h4,h5,h6 {margin:0 0 20px 0;}
p {text-align:justify; text-justify:distribute;}
p+p {margin-top:20px;}
a {outline:none; text-decoration:none;}

/*--- logo, share ---*/
.logo {background-size:auto 100% !important;
transform:scale(0.9);
}
.share__item {transform:scale(0.85);}
.share__item.toggle {
background-image:url("/proj-assets/chenuen/images/navbtn.png") !important;
background-size:auto 100% !important;
background-position:right top !important;
transform:scale(0.9);
}