$color-black = rgba(0, 0, 0, 0.88)
$color-black-light = rgba(0, 0, 0, 0.87)
$color-black-lighter = rgba(0, 0, 0, 0.66)

$color-blue = #4A92E5
$color-blue-light = rgba(74, 146, 229, 0.51)
$color-green = #3FC479
$color-green-light = rgba(63, 196, 121, 0.5)
$color-orange = #EB673C
$color-purple = #AA67E5
$color-purple-light = rgba(170, 103, 229, 0.5)
$color-gray = #9B9B9B
$color-gray-light = rgba(155, 155, 155, 0.51)

$font-family-serif = source-han-serif-tc, STSong, serif
